name: Branch

on:
  pull_request:
    branches-ignore:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - stable
          - beta
          - nightly
        target:
          - x86_64-unknown-linux-gnu
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.version }}
          override: true
          components: rustfmt
      - name: install system deps
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev libsasl2-dev
      - name: clean
        run: cargo clean
      - name: build
        run: cargo build --all-features
        env:
          RUST_BACKTRACE: 1
      - name: test
        run: cargo test --all-features
        env:
          RUST_BACKTRACE: 1
      - name: ignored test
        run: cargo test --all-features -- --ignored || true
        env:
          RUST_BACKTRACE: 1
      - name: check formatting
        run: cargo fmt -- --check
        if: matrix.version == 'stable'
      - name: install audit
        run: cargo install cargo-audit
        if: matrix.version == 'stable'
      - name: audit check
        run: cargo audit
        if: matrix.version == 'stable'
      - name: install cargo-hack
        run: cargo install cargo-hack --locked
        if: matrix.version == 'stable'
      - name: cargo check all features
        run: cargo hack check --feature-powerset --no-dev-deps
        if: matrix.version == 'stable'
