name: Main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - nightly
          - beta
          - stable
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.version }}
          override: true
          components: rustfmt
      - name: install system deps
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev libsasl2-dev
      - name: clean
        run: cargo clean
      - name: build
        run: cargo build --all-features
        env:
          RUST_BACKTRACE: 1
      - name: test
        run: cargo test --all-features --  --test-threads=1
        env:
          RUST_BACKTRACE: 1
      - name: ignored test
        run: cargo test --all-features -- --ignored || true
        env:
          RUST_BACKTRACE: 1
      - name: check formatting
        run: cargo fmt -- --check
      - name: install audit
        run: cargo install cargo-audit
        if: matrix.version == 'stable'
      - name: audit check
        run: cargo audit
        if: matrix.version == 'stable'
      - name: cargo build doc
        run: cargo doc --all-features
      - name: install cargo-hack
        run: cargo install cargo-hack --locked
        if: matrix.version == 'stable'
      - name: cargo check all features
        run: cargo hack check --feature-powerset --no-dev-deps
        if: matrix.version == 'stable'
  coverage:
    runs-on: ubuntu-latest
    name: ubuntu / stable / coverage
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: install system deps
        run: sudo apt-get update && sudo apt-get install -y libcurl4-openssl-dev libsasl2-dev
      - name: Install stable
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - name: cargo install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile
      - name: cargo llvm-cov
        run: cargo llvm-cov --locked --all-features --lcov --output-path lcov.info
      - name: Upload to codecov.io
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true